---
permalink: /blog/
layout: default
class: articles
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <p class="date">{{ post.date | date: "%B %-d, %Y" }}</p>

      <div class="entry">
        {% if post.description %}<p>{{ post.description }}</p>{% else %}{{ post.excerpt }}{% endif %}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more</a>
    </article>
  {% endfor %}
</div>
